body {
	background-color:#fafafa;
	font-family: sans, sans-serif;
	font-size:1.5em;
}

#navbar {
	#position:fixed;
}

#navlist {
    list-style-type: none;
    margin: 0;
    padding-bottom:20px;
	background-color:#ADD8E6;
}

#navlist li{
		display: inline;
		font-size:25px;
		padding:20px;
}

#navlist li a:hover {
    color: #808080;
	cursor: pointer;
}
	

#courses{
	display: none;
}

#people{
	display: none;	
}

#news{
	display: none;
}

#notices{
	display: none;
}

#guest-book{
	display: none;
}

.coursePoints {
	margin-left:20px;
	
}

.courseTitle {
	margin:0em;
}

.courseCode {
	margin:0em;
}

.personBlock{
	position:relative;
}

.top{
	position: absolute;
	top:0;
}

.personPicture{
	padding-right:50cm;
}